@font-face {
    font-family: Calibri Light;
    src: url("../fonts/calibril.ttf");
}

#contact {
    font-size: 1.1em;
    margin: 0 0 50px; 
}

#contactP {
    text-align: justify;
}

#contact ul p {
    text-transform: uppercase;
}

.options {
    font-size: 0.8em;
    margin-top: 40px;
    list-style-type: square;
    margin-left: 30px;
}

#subItemContainer, #emailPic {
    width: 100%;
    height: 100px;
    margin: 40px auto 10px;
}

#subItemContainer {    
    background: url("../img/smartphone.png") left center no-repeat;
    background-size: 65px 100px;
}

.subItems {
    margin-left: 66px;
    padding-top: 15px;
    list-style-type: none;
    font-size: 0.7em;
}

.subItems a {
    color: red;
}

#emailPic {
    background: url(../img/comp.png) right center no-repeat;
    background-size: 133px 100px;
}

@media screen and (min-width: 434px) {
    .options {
        margin-top: 50px;
    }

    #subItemContainer, #emailPic {
        height: 200px;
        margin: 50px auto 10px;
    }

    #subItemContainer {
        background-size: 129px 200px;
    }

    .subItems {
        margin-left: 132px;
        padding-top: 50px;
    } 

    #emailPic {
        background-size: 266px 200px;
    }  
}

@media screen and (min-width: 544px) {
    #contact {
        font-size: 1.2em; 
    }

    .options {
        font-size: 0.9em;
        margin-left: 50px;
    }

    #subItemContainer, #emailPic {
        height: 300px;
    }

    #subItemContainer {
        height: 300px;
        background-size: 181px 280px;
    }

    .subItems {
        margin-left: 180px;
        padding-top: 80px;
        font-size: 0.8em;
    }

    #emailPic {
        background-size: 372px 280px;
    } 
}

@media screen and (min-width: 672px) {
    .options {
        font-size: 1em;
    }
}

@media screen and (min-width: 800px) {
    #subItemContainer, #emailPic {
        height: 400px;        
    }

    #subItemContainer {
        background-size: 258px 400px;
    }

    .subItems {
        margin-left: 300px;
    }

    #emailPic {
        background-size: 532px 400px;
    }
}

@media screen and (min-width: 987px) {
    #subItemContainer, #emailPic {
        height: 300px;        
    }

    #subItemContainer {
        background-size: 181px 280px;
    }

    .subItems {
        margin-left: 180px;
    }

    #emailPic {
        background-size: 372px 280px;
    }   
}

@media screen and (min-width: 1200px) {
    #subItemContainer, #emailPic {
        height: 400px;        
    }

    #subItemContainer {
        background-size: 258px 400px;
    }

    .subItems {
        margin-left: 300px;
        padding-top: 100px;
    }

    #emailPic {
        background-size: 532px 400px;
    } 
}