#scheduleFormat {
  margin: 0 0 30px;
}

#aboutCalendar {
  font-family: Calibri, "Calibri Light", sans-serif;
  font-size: 1.2em;
  margin-bottom: 50px;
}

#aboutCalendar p {
  margin-bottom: 20px;
}

#yearlyCalendar {
	text-align: center;
  width: 100%;
}

.innertable {
  width: 80%;
  margin:10px 0;
  font-family: Calibri, "Calibri Light", sans-serif;
  text-transform: uppercase;
  border-collapse: collapse;
  float: left;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
	background-color: black;
	color: white;
	font-weight: 500;
}

.invisible {
  visibility: hidden;
}

#currentFormat {
	color: red;
}

.days {
	font-weight: 600;
}

.eventAdded {
	color: red;
	font-weight: 500;
  text-decoration: none;
}

#eventCalendar {
  margin-top: 100px;
}

#eventInfoHeader {
    width: 8%;
    height: 350px;
    border-left: 1px solid red;
    border-top: 1px solid rgb(235,235,235);
    border-right: 1px solid rgb(235,235,235);
    border-bottom: 1px solid rgb(235,235,235);
}

#eventInfo {
    width: 88%;
    margin-left: 4%;
}


.allEvents {
  font-family: Calibri, "Calibri Light", sans-serif;
  padding-bottom: 5px;
}

.allEvents .pencil_icon {
  width: 110px;
  height: 55px;
  background: url("../img/school.png") no-repeat center;
  background-size: 110px 55px;
}

.allEvents h2 {
    font-weight: 600;
    font-size: 0.9em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.allEvents p {
    margin-left: 20px;
    font-size: 1em;
}

@media screen and (min-width: 434px) {
    #eventInfoHeader {
        width: 7%;
    }

    #eventInfo {
        width: 89%;
    }

    .innertable {
      width: 50%;
    }

    .allEvents p {
      margin-left: 30px;
    }
}

@media screen and (min-width: 544px) {
    #eventInfoHeader {
        width: 6%;
    }

    #eventInfo {
        width: 90%;
    }

    .allEvents h2 {
      font-size: 1em;
    }

    .allEvents p {
      font=size: 1.1em;
    }
}

@media screen and (min-width: 672px) {
    .innertable {
        width: 33.33%;
    }

    .allEvents h2 {
        font-size: 1.1em;
    }

    .allEvents p {
        font-size: 1.2em;
        margin-left: 40px;
    }
}

@media screen and (min-width: 800px) {
    #eventInfoHeader {
        width: 5%;
    }

    #eventInfo {
        margin-left: 5%;
    }
}

